# ROM files
*.NDS
*.nds
*.GB
*.gb
*.GBC
*.gbc
*.GBA
*.gba
*.3DS
*.3ds
*.CCI
*.cci
*.RNDP
*.rndp

# IntelliJ
.idea/
*.iml

# Gradle project-specific cache directory
.gradle

# Gradle build output directory
build

# Kotlin plugin data
.kotlin

# Various / unidentified why they are in this .gitignore (might not be needed anymore)
tmp_*
*.sgm
*.sav
*.rtc
*.sgb
*.sn*
*.rar
*.zip
config.ini
*.pkm
error_*.txt
bin
*.log
*.bin
nbproject
build.xml
manifest.mf
*.dsm
*.dsv
build_eclipse.xml
.classpath
.settings/org.eclipse.jdt.core.prefs
