:root {
	--color1: #D0F0D0;
	--color2: #F8F8D8;
	--color3: #D8D0B0;
	--color4: #EDE4C2;
}

body {
	color: #000000;
	background: var(--color1);
	background-image: url("../images/background.png");
	font-family: calibri, sans-serif;
}

header {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
  font-family: verdana, sans-serif;
  margin: 20px;
}

main {
	position: relative;
	max-width: 900px;
	padding: 0;
	margin: auto;  
	
	background: var(--color2);
	border: 4px ridge;
	border-color: var(--color3);
}

main nav {
  position: absolute;
  font-size: 100%;
  width: 200px;
 
  background: var(--color3);
  padding: 0px 4px;
}
main nav ul {
  list-style-type: none;
  margin: 0px 0px 4px 0px;
  padding: 0px;
}
main nav li {
  padding: 4px;
  background: var(--color2);
}
main nav a {
  text-decoration: none;
}

#content {
	padding-left: 200px;
	margin: 0px 20px 20px 20px;
	width: auto;
}

.wikipagelist {
	border: 4px ridge;
	padding: 10px;
	border-color: var(--color3);
}

table, th, td {
	border: 2px solid;
	border-color: var(--color3);
	border-collapse: collapse;
}

th {
  background-color: var(--color4);
}

th, td {
	padding: 5px;
}

.versiontable {
    width: 100%;
}

li {
	margin-top: 4px;
}
ul { 
	padding-left: 20px;
}

code, div.highlight {
  background-color: var(--color4);
}
div.highlight {
  padding: 5px;
  overflow: auto;
}
pre.highlight {
  margin: 0px;
}

img {
  max-width: 100%;
}

.screenshot {
  max-width: 256px;
}

footer {
  margin-top: 0px;
  text-align: center;
}
footer img {
  vertical-align: middle;
}

.current {
  color: green;
}